/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: white;
	/*font-family: 'Hiragino Sans GB',"Microsoft Yahei","微软雅黑","Microsoft JhengHei",'WenQuanYi Micro Hei', 'Helvetica Neue', Verdana, Arial, Helvetica, sans-serif;*/
    font-family: Arial,'Hiragino Sans GB',冬青黑,'Microsoft YaHei',微软雅黑,SimSun,宋体,Helvetica,Tahoma,'Arial sans-serif';
	font-size: 16px;
	*font-size: small;
	text-align: center;
	/*color: #6e6e6e;*/
    color: #3e3e3e;
	background: #fff;
}

h1 {
    font-size: 1.5em;
    font-weight:bold;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

pre.nav.margin-for-mobile {
	white-space: normal;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
	font-size: 1em;
    font-weight: bold;
}

p {
	margin: 1.2em 0;
}

a {
	color : inherit;
	text-decoration: none;
}

a:hover {
	color: black;
}

/*a:visited {
  color: #a0a;
}*/
ul {

}

li {
    /*font-size: 95%;*/
}

table {
	font-size: inherit;
	font: 100%;
    width: 100%;
	text-align: left;
    border-collapse: collapse;
}

tr th{
    padding-left: 1em;
    height: 2em;
    border: solid 1px #B4B4B4;
}

tr td{
    height: 2em;
    padding-left: 1em;
    border: solid 1px #B4B4B4;
}

img {
	max-width: 100%;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
/*	border: 5px solid #cccccc;*/
}

@media \0screen {
  img {
	  width: auto; /* for ie 8 */
  }
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#home {
	margin-left: 10px;
	margin-right: 10px;
}

ul {
	margin: 0.5em 0;
}
ul.posts {
	list-style-type: none;
	margin-bottom: 2em;
}

ul.posts li {
	line-height: 1.75em;
	/*word-break: normal;*/
}

ul.posts span {
	color: #aaa;
/*	font-family: Monaco, "Courier New", monospace;
*/	font-size: 80%;
}

.margin-for-mobile {
	margin-left: 10px;
	margin-right: 10px;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 0.35em solid #ccc;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.nav {
}

.site {
  font-size: 100%;
  text-align: justify;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  word-break: break-word;
}

/* media query */
@media screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.site {
		width: 320px;
	}
}

@media screen and (min-width: 1024px) {
    .site {
        width: 700px;
    }
}

.header a {
    /*color: #6e6e6e;*/
}

/*****************************************************************************/
/*
/* footer
/*
/*****************************************************************************/
.site .footer {
	font-size: 80%;
	color: #666;
	border-top: 4px solid #eee;
	margin-top: 2em;
	overflow: hidden;
}

.copyright {
	margin-top: .25em;
	padding-top: .3em;
    padding-bottom: .3em;
    border-top: 1px solid #e7e7eb;
	font-weight: normal;
	font-size:85%;
	display: block;
	color:#bfbfbf;
	line-height:120%;
	word-break: normal;
}

.copyright a {
	color:#bfbfbf;
}

.post-info {
	margin-top: 4px;
	padding-top: 5px;
	font-weight: normal;
	font-size: 12px;
	text-align: right;
	display: block;
	border-top: 1px double;
	padding-bottom: 10px;
	color:#bfbfbf;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
#post {
	margin: 10px;
}
/* poem */
.poem-post {
	text-align : center;
	font-size: 18px;
}

.poem-post h1 {
	font-size: 21px;
}

/* history */
/*.history-post {
	text-align : left;
}
*/
.history-post {
	text-align : left;
	font-size: 18px;
}

.history-post h1 {
	font-size: 25px;
}

/* standard */
#post pre {
	background-color: #F0F0F0;
	padding: 0 .4em;
	word-wrap: break-word;
	margin: 1em 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#post ul, #post ol {
	margin-left: 1.35em;
}

#post code {
	border: 1px solid #ddd;
	font-size: 85%;
	padding: 0 .2em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background-color: #F0F0F0;
	border-radius: 5px;
}

#post pre code {
	border: none;
	font-size: 85%;
}

#post a {
    color: #2479CC;
}

#related {
	margin-top: 2em;
}

#related h2 {
	margin-bottom: 1em;
}

.power {
	font-size: 80%;
	color: #AAA;
	margin: 0 10px 0 10px;
}

.right-banner {
	position: absolute;
	border: 0;
}

.right-banner.first {
	right: 0;
	top: 0;
}

@media (max-width: 480px) {
	.right-banner.first {
		right: 0;
		top: 0;
		width: 50px;
	}

	.right-banner.second {
		left: 0;
	}
}

@media (min-width: 800px) {
	.right-banner.second {
		right: 0;
		top: 150px;
	}
}
/*****************************************************************************/
/*
/* trick
/*
/*****************************************************************************/

/*img[alt=csspixels_in] { float: right; }*/
