---
layout: default
title: 水木情书
---

<div id="home">
  <h2>编程</h2>
  <ul class="posts">
	{% for post in site.tags.tech limit:10 %}
		<li><span>{{ post.date | date: "%Y年%m月%d日" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
	<a href="/tech.html">更多</a>
  </ul>

  <h2>诗词</h2>
  <ul class="posts">
    {% for post in site.tags.poem limit:10 %}
		<li><span>{{ post.date | date: "%Y年%m月%d日" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
	<a href="/poem.html">更多</a>
  </ul>

  {% if site.tags.history %}
  <h2>历史</h2>
  <ul class="posts">
      {% for post in site.tags.history limit:10 %}
  		<li><span>{{ post.date | date: "%Y年%m月%d日" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
	  <a href="/5000years.html">更多</a>
  </ul>
  {% endif %}
</div>
