---
layout: default
title: 水木情书
---

<div id="home">
  <h1>编程</h1>
  <ul class="posts">
	{% for post in site.tags.tech limit:10 %} 
		<li><span>{{ post.date | date: "%Y年%m月%d日" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
	<a href="/tech.html">更多</a>
  </ul>
  
  <h1>Startup</h1>
  <ul class="posts">
    {% for post in site.tags.startup limit:10 %}
		<li><span>{{ post.date | date: "%Y年%m月%d日" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
	<a href="/startup.html">更多</a>
  </ul>
  
  <h1>诗词</h1>
  <ul class="posts">
    {% for post in site.tags.poem limit:10 %}
		<li><span>{{ post.date | date: "%Y年%m月%d日" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
	<a href="/poem.html">更多</a>
  </ul>
  
  <h1>设计</h1>
  <ul class="posts">
      {% for post in site.tags.design limit:10 %}
	  	<li><span>{{ post.date | date: "%Y年%m月%d日" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
	  <a href="/design.html">更多</a>
  </ul>
	
  {% if site.tags.history %}
  <h1>历史</h1>
  <ul class="posts">
      {% for post in site.tags.history limit:10 %}
  		<li><span>{{ post.date | date: "%Y年%m月%d日" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
	  <a href="/5000years.html">更多</a>
  </ul>  
  {% endif %}
</div>
